$container: 1440px;
$font-regular: "Montserrat", sans-serif;
$font-special: "Quicksand", sans-serif;
$margin-bottom: 16px;

// Colors

$font-color100: rgba(31, 32, 65, 1);
$font-color75: rgba(31, 32, 65, 0.75);
$font-color75: rgba(31, 32, 65, 0.75);
$font-color50: rgba(31, 32, 65, 0.5);
$font-color25: rgba(31, 32, 65, 0.25);
$font-color05: rgba(31, 32, 65, 0.05);
$color-primary: rgba(188, 156, 255, 1);
$color-accent: rgba(111, 207, 151, 1);
$color-light: #FFFFFF;
$btn-primary: linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
$btn-accent: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);





